<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />

	<style>

	</style>

</head>
<body>

<div id="container">
	<div>
		<h2 class="rize-profile-category"><%= global.api_data.accounts[currentNumber].categories %></h2>
		<h2 class="rize-profile-location"><%= global.api_data.accounts[currentNumber].city_name %>, <%= global.api_data.accounts[currentNumber].country_name %></h2>
		<div class="clearAll"></div>
	</div>
	<div class="rize-profile-banner" style="background-image: url(<%= global.profiles[currentNumber].image %>)">
		<div class="rize-profile-banner-text">
			<h1 class="rize-profile-name"><%= global.api_data.accounts[currentNumber].display_name %></h1>
			<h3 class="rize-profile-position"><%= global.api_data.accounts[currentNumber].linkedin.job_title %>, <%= global.api_data.accounts[currentNumber].linkedin.organization %></h3>
		</div>
	</div>
	<div class="rize-profile-description">
		<%- description %>

		<% if ( global.api_data.accounts[currentNumber].rize_links[0].url ){ %>
		<div class='rize-profile-description-related'>
			<ul>
				<% for (i = 0; i <global.api_data.accounts[currentNumber].rize_links.length; i++){ %>
				<li><a href="<%= global.api_data.accounts[currentNumber].rize_links[i].url %>" class="rize-profile-description-related-links"><%= global.api_data.accounts[currentNumber].rize_links[i].title %></a></li>
				<% } %>
			</ul>
		</div>
		<% } %>
	</div>
	<div class="rize-profile-social">
		<ul>
			<li class="rize-profile-social-link">
				<a href="<%= global.api_data.accounts[currentNumber].linkedin.url %>"></a>
			</li>
			<li class="rize-profile-social-link">
				<a href="https://twitter.com/<%= global.api_data.accounts[currentNumber].twitter.screen_name %>"></a>
			</li>
			<li class="rize-profile-social-link"><a href="<%= global.api_data.accounts[currentNumber].facebook.url %>"></a></li>
		</ul>
	</div>
	<div class="rize-profile-quotation">
		<h3 class="rize-profile-quotation-text">“<%= global.profiles[currentNumber].quotation %>”</h3>
		<p class="rize-profile-quotation-name"><a href="https://twitter.com/<%= global.api_data.accounts[currentNumber].twitter.screen_name %>"><%= global.api_data.accounts[currentNumber].twitter.screen_name %></a><span class="rize-profile-quotation-date"><%= global.profiles[currentNumber].quotationdate %></span></p>
	</div>
</div>
<div class='clearAll'></div>


</body>
</html>