<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div id="main" class="main-content" role="main">
	<header>
		<h1><a href="/">Rize API demo</a></h1>
	</header>

	<article class="rize-profile">

		<div>
			<h2 class="rize-profile-category"><%= categories %></h2>
			<h2 class="rize-profile-location"><%= location %></h2>
			<div class="clearAll"></div>
		</div>
		<div class="rize-profile-banner" style="background-image: url(<%= global.profiles[currentNumber].image %>)">
			<div class="rize-profile-banner-text">
				<h1 class="rize-profile-name"><%= display_name %></h1>
				<h3 class="rize-profile-position"><%= job_title %></h3>
			</div>
		</div>

		<div class="rize-profile-description">
			<%- description %>

			<% if ( related_links ){ %>
			<div class='rize-profile-description-related'>
				<ul>
					<% for (i = 0; i <global.api_data.accounts[currentNumber].rize_links.length; i++){ %>
						<li><a href="<%= global.api_data.accounts[currentNumber].rize_links[i].url %>" class="rize-profile-description-related-links"><%= global.api_data.accounts[currentNumber].rize_links[i].title %></a></li>
					<% } %>
				</ul>
			</div>
			<% } %>
		</div>
		<div class="rize-profile-social">
			<ul>
			<%- linkedin %>
			<%- twitter %>
			<%- facebook %>
			</ul>
		</div>
		<aside class="rize-profile-quotation">
			<h3 class="rize-profile-quotation-text">“<%= global.profiles[currentNumber].quotation %>”</h3>
			<p class="rize-profile-quotation-name"><a href="<%= twitter_link %>"><img src="<%= twitter_profile_image %>" class="rize-profile-twitter-mugshot"/>"<%= twitter_name %></a><span class="rize-profile-quotation-date"><%= global.profiles[currentNumber].quotationdate %></span></p>
		</aside>
	</article>
</div><!-- #main -->
<div class='clearAll'></div>

</body>
</html>